<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/header :: header" th:remove="tag"></div>

<body id="page-top">

<div th:replace="common/topmenu :: topmenu" th:remove="tag"></div>

<div id="wrapper">

  <div th:replace="common/sidebar :: sidebar" th:remove="tag"></div>

  <div id="content-wrapper">

    <div class="container-fluid">

      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Overview
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="overviewAddress" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="overviewAddress" th:value="${address}">
              </div>
            </div>
            <div class="form-group row">
              <label for="balance" class="col-sm-2 col-form-label">Balance</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="balance" th:value="${balance}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Transaction of Address
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0" style="table-layout: fixed">
              <thead>
              <tr>
                <th class="text-center" style="width: 20%">Transaction Hash</th>
                <th class="text-center" style="width: 15%">Age</th>
                <th class="text-center" style="width: 20%">From</th>
                <th class="text-center" style="width: 20%">To</th>
                <!--<th>method</th>-->
                <th class="text-center" style="width: 15%">Value</th>
                <th class="text-center" style="width: 20%">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="tx : ${transactions}">
                <td class="text-truncate"><a th:href="@{'/points/' + ${tx.transactionHash}}" th:text="${tx.transactionHash}">0xabcdef</a></td>
                <td class="text-truncate text-center" th:text="${tx.age}">10mins ago</td>
                <td class="text-truncate"><a th:href="@{'/points/addresses/' + ${tx.fromAddress}}" th:text="${tx.fromAddress}">0x12345</a></td>
                <td class="text-truncate"><a th:href="@{'/points/addresses/' + ${tx.toAddress}}" th:text="${tx.toAddress}">0x12345</a></td>
                <td class="text-truncate text-right" th:text="${tx.amount}">3000</td>
                <td class="text-truncate text-center" th:text="${tx.status}">SUCCESS</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="form-group col-md-1">
              <select class="form-control pagination" id="pageSizeSelect">
                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                        th:selected="${pageSize} == ${selectedPageSize}"></option>
              </select>
            </div>
            <div th:if="${transactions.totalPages != 1}" class="form-group col-md-11">
              <ul class="pagination">
                <li class="page-item" th:classappend="${!pager.hasPrevious} ? disabled">
                  <a class="page-link" th:href="@{'/points/addresses/' + ${address}(pageSize=${selectedPageSize}, page=${pager.previousPage})}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${transactions.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                  <a class="page-link" th:href="@{'/points/addresses/' + ${address}(pageSize=${selectedPageSize}, page=${page})}"
                     th:text="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${!pager.hasNext} ? disabled">
                  <a class="page-link" th:href="@{'/points/addresses/' + ${address}(pageSize=${selectedPageSize}, page=${pager.nextPage})}">Next
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <input id="address" type="hidden" th:value="${address}">
        </div>
        <div class="card-footer small text-muted" th:text="'Retrieved at ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <div th:replace="common/footer :: footer" th:remove="tag"></div>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<div th:replace="common/script :: script" th:remove="tag"></div>

<script>
  $(document).ready(function () {
    changePageAndSize();
  });

  function changePageAndSize() {
    $('#pageSizeSelect').change(function () {
      window.location.replace("/points/addresses/" + $('#address').val() + "?pageSize=" + this.value + "&page=1");
    });
  }
</script>
</body>

</html>
